include trapes/*.py
include trapes/data/hg19/*
include trapes/data/hg19/index/*
include trapes/data/hg38/*
include trapes/data/hg38/index/*
include trapes/data/mm10/*
include trapes/data/mm10/index/*
include trapes/data/mm10_ncbi/*
include trapes/data/mm10_ncbi/index/*
include trapes/vdj.alignment